lszx-emagram-time-selector {
  display: block;
  color: white;
}

.timeline line,
.timeline path {
  stroke: lightgrey;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}

.snapshotMarker rect {
  fill: white;
}

.snapshotMarker rect.current {
  fill: red;
}

.clickTgt {
  fill: transparent;
}
