lszx-emagram-time-selector {
  display: block;
  color: #003a54;
}

.timeline line,
.timeline path {
  stroke: #003a54;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}

.snapshotMarker rect {
  fill: #003a54;;
}

.snapshotMarker rect.current {
  fill: red;
}

.clickTgt {
  fill: transparent;
}
