lszx-emagram-data-table {
  color: white;
  font-size: 13px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

th {
  text-align: left;
  font-style: italic;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

th.numeric, td.numeric {
  text-align: right;
}

td.noborder {
  border-bottom: none;
}

span.gradient {
  display: inline-block;
  width: 100%;
  position: relative;
  top: 20px;
}
