lszx-emagram-chart {
  display: block;
  color: white;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.dryAdiabateGrid path {
  fill: none;
  stroke: lightgreen;
  stroke-opacity: 0.5;
}

.temperature circle {
  fill: lightcoral;
  fill-opacity: 1;
}

.temperature path {
  fill: none;
  stroke: lightcoral;
  stroke-width: 3;
  stroke-opacity: 1;
}

.dewpoint circle {
  fill: lightblue;
  fill-opacity: 1;
}

.dewpoint path {
  fill: none;
  stroke: lightblue;
  stroke-width: 3;
  stroke-opacity: 1;
}

.wind .arrow line  {
  fill: none;
  stroke: lightcoral;
  stroke-width: 2;
}

.wind .arrow path {
  fill: lightcoral;
  stroke: lightcoral;
  stroke-width: 2;
}

.wind .arrow circle  {
  fill: none;
  stroke: lightcoral;
  stroke-width: 2;
}

.stationtexts text {
  fill: lightcyan;
}

.winddata text {
  font-size: 12px;
  text-anchor: end;
  fill: lightcyan;
}
