lszx-emagram-chart {
  color: #003a54;
}

.grid line {
  stroke: #003a54;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.dryAdiabateGrid path {
  fill: none;
  stroke: #60aed3;
  stroke-opacity: 0.5;
}

.temperature circle {
  fill: lightcoral;
  fill-opacity: 1;
}

.temperature path {
  fill: none;
  stroke: lightcoral;
  stroke-width: 3;
  stroke-opacity: 1;
}

.temperaturedata text {
  font-size: 12px;
  fill: lightcoral;
}

.dewpoint circle {
  fill: lightblue;
  fill-opacity: 1;
}

.dewpoint path {
  fill: none;
  stroke: lightblue;
  stroke-width: 3;
  stroke-opacity: 1;
}

.dewpointdata text {
  font-size: 12px;
  text-anchor: end;
  fill: #043a53;
}

.wind .arrow line  {
  fill: none;
  stroke: lightcoral;
  stroke-width: 2;
}

.wind .arrow path {
  fill: lightcoral;
  stroke: lightcoral;
  stroke-width: 2;
}

.wind .arrow circle  {
  fill: none;
  stroke: lightcoral;
  stroke-width: 2;
}

.stationtexts text {
  fill: #043a53;
}

.stationtexts .textbg {
  fill: white;
  fill-opacity: 1;
}

.winddata text {
  font-size: 12px;
  text-anchor: end;
  fill: lightcyan;
}

.gradientValues text {
  fill: lightcyan;
}

.data-infotext {
  fill: #909090;
  font-size: 12px;
}
