lsxz-emagram-chart {
    display: block;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.dryAdiabateGrid path {
    fill: none;
    stroke: lightgreen;
    stroke-opacity: 0.7;
}